*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif; 
    color: #a0a0a0;
    line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr; 
    gap: 50px; 
    padding-top: 40px; 
    margin: auto; 


}

/* Sidebar */

.sidebar{
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    height: 90vh;
    padding: 40px;
    position:sticky;
    top: 40px;
}

/* Profile */
.profile{
    color: #e0e0e0;
    text-align: center;

}
.profile img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px;
}

.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: #FFBF00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    margin-top: 10px;
    display: inline-block;
}

/* Contact */
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}

.label{
    font-size: 0.8rem;
    font-weight: 500;
    color: #a0a0a0;

}
.email, .phone{
    margin-bottom: 15px;
}

.value{
    text-decoration: none;
    color: #e0e0e0;
}

/* Social */
.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}
.social img{
    height: 28px;
    width: 28px;
    margin-left: 12px;
    filter: grayscale(1) invert(0.7);
    transform: scale(1);
    transition: all 0.3s ease;
}
.social img:hover{
    filter: grayscale(0) invert(0);
    transform: scale(1.1);
}

/* Main Content  */
.main-content{
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}

/* Navbar */
.navbar{
    border-bottom: 2px solid #3a3a3a;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
nav{
    display: flex;
    justify-content: end;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: #a0a0a0;
    transition: color 0.3s ease; 

}
.active, nav a:hover{
    color: #FFBF00;
}

/* About Me  */

#about {
    margin-bottom: 40px;
}

.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}
.line{
    width: 50px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 15px;
}

.content{
    color: #a0a0a0;
    text-align: justify;
}


/* Skills */

#skills{
    margin-bottom: 40px;
}

.grid-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
}

.item{
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease ;

}
.item h3{
    font-size: 1rem;
    font-weight: 500;
    color: #a0a0a0;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}
.item img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
    margin-bottom: 15px;
}

/* Education  */

#education{
    margin-top: 30px;
}

.edtech{
    position:relative;

}


.edfirst, .edsecond{
    margin-bottom: 30px;
    padding-left: 20px;
    position: relative;
}

.year{
    color: #a0a0a0;
    font-size: 0.9rem;
    margin-bottom: 5px;
}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 8px;
}
.work{
    color: #a0a0a0;
}
.goal{
    height: 15px;
    width: 15px;
    border: 3px solid #FFBF00;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 0px;
    z-index: 5;
}

.liner{
    width: 2px;
    border: 2px solid #3a3a3a;
    position:absolute;
    top: 0px;
    bottom: 0px;
    left: 5px;
}

/* Portfolio */

.project-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project img{
    height: 180px;
    object-fit: cover;
    width: 100%;
}

.card{
    padding: 20px;
}
.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}
.card p{
    margin-bottom: 20px;
    text-align: justify;
}

.card span{
    color:  #FFBF00;
    background-color: rgba(255, 191, 0, 0.1);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
}

.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}


@media screen and (max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .sidebar{
        position: static;
        height: auto;
    }
}

@media screen and (max-width:750px) {
    .project-container{
        grid-template-columns: 1fr;
    }

    .navbar nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}
