*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
}

#main{
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 400px;
    margin: 30px;
    position: relative;
    border-radius: 10px;


}

#circle{
    background-color: rgb(185, 15, 15);
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50px;
    left: 150px;
    border-radius: 50%;

}