*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background-color: gray
    
}

.card{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
    
}
button{
    padding: 5px 10px;
    background-color: rgba(34, 34, 255, 0.75);
    color: white;
    border-radius: 5px;
}

input{
    text-overflow: ellipsis;
    padding: 5px 10px;
    font-size: 15px;
}