*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F6EFE5;
    font-size: 16px;
    font-family: sans-serif;
}

.main{
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}
h1{
    color: #E76A30;
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 700;
}
p{
    margin-bottom: 20px;
    color: #666;
}

button{
    padding: 15px 20px ;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: #E76A30;
    color: white;
    border: none;
    cursor: pointer;
}
.screen{
    display: none;
}

/*  second page  */

#second-page{
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;

}

#question{
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    color: black;
    margin-bottom: 10px;

    
}

.QuestionInfo{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-bottom: 15px;
}

.answere-btn{
    background-color: #F6EFE5;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    padding: 15px;
    text-align: left;
}

.progress-bar{
    height: 10px;
    background-color: #F6EFE5;
    border-radius: 5px;
    margin-top: 20px;
}

.progress{
    height: 100%;
    background-color: #e86a33;
    width: 0%;
}


/* Result Screen  */

.result-screen{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    text-align: center;

}

h2{
    font-size: 2rem;
    color: #E76A30;
    font-weight: bolder;
    margin-bottom: 15px;
}

.Score-board{
    padding: 15px 40px;
    background-color: #F6EFE5;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 20px;


}

#resultmsg{
    color: #E76A30;
    font-size: 1.5rem;
}
