body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    text-align: center;
    
}

button{
    font-size: 20px;
    padding: 5px 10px;
    margin-left: 10px;
    

}

.header{
    text-align: center;
}