*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 200px;
    width: 200px;
    background-color: yellow;
            /* left down blend overall  color*/
    box-shadow: 0px 0px 10px 10px red;
    border-radius: 50%;
    
    
}