*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #7B18EC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

}

.card{
    width: 400px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-bottom: 10px;
}

input{
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding-left: 3px;
    border: 1px solid black;
    border-radius: 5px;
    outline-color: #7B18EC;
    margin-top: 10px;
}
#add{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #7B18EC;
    background-color: #7B18EC;
    color: white;
}
ol{
    font-size: 25px;
    font-weight: 500;
}

.card button{
    background-color: transparent;
    border: none;
    cursor: pointer;

}

h2{
    color: red;
    border-radius: 10px;
    text-align: center;
    
}

#list{
    margin-left: 23px ;
    margin-top: 10px;
}
.list{
    margin-top: 10px; border-radius: 5px; padding: 8px 12px;display: flex; justify-content: space-between; background-color: rgb(238, 235, 235);
}

p{
    font-size: 20px;
}

#warning{
    display: none;
    margin-top: 10px; padding: 8px 12px; background-color: rgb(233, 195, 195);
    border-radius: 5px;
}

.delBtn{
    margin-left: 15px;
}