body{

    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
}


nav{

    margin-top: 30px;
}
a{
    border: 2px solid rgb(232, 134, 134);
    margin-left: 40px;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 400px;
    transition: all  ease-in-out 0.3;
    
}

a:hover{
    background-color: rgb(221, 214, 214);

}