*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;

}

.box{
    background-color: orange;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s; */
    /* transition: all 2s ease-in 1s ; */
    transition: all 1s;
    /* transform: translate(400px , 400px); */
    /* transform: rotate(50deg); */

}

.box:hover{
     background-color: green;
    /* width: 150px;
    height: 150px;  */
    /* transform: scale(2);
    transform: skew(30deg); */
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    
    /* transform: rotate(50deg); */

}
