*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;
    

}

.box{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: yellow;
    box-shadow: 0px 0px 20px 10px rgba(255, 30, 0, 0.585);
    animation-name: moving;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sun{
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
    transform: translate(100px);

}

@keyframes moving {
    /* from{
        transform: rotate(0deg) translateX(200px) rotate(0deg);
    }to{
        transform: rotate(360deg)translate(200px) rotate(-360deg);
    } */
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}