*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main{
    border: 10px solid rgb(131, 66, 40);
    display: grid;
    grid-template-columns: repeat(1fr,8);
    grid-template-rows: repeat(1fr,8);

}
.row{
    display: flex;
}

.green{
    background-color: #769656;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.white{
    background-color: #dadac0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
}

img{
    height: 70px ;
    width: 70px;
}

