*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 600px;
    width: 800px;
    background-color: black;
    margin: 30px;
    padding: 10px;
    gap: 10px;
}

.first, .sixth, .eighth{
    background-color: red;
}

.second, .ninth{
    background-color: rgb(86, 187, 255);
}

.third, .forth{
    background-color: burlywood;
}
.fifth, .seventh{
    background-color: white;
}

