*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: black;
  display:flex; 
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color:rgb(162, 158, 150);
}